<div class="page-block">
  <h3>
    <span>
      <a href="">Частные объявления</a>
    </span>
  </h3>
  <div class="swiper-container multi-4">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="teaser announcements-teaser">
         	<a href="">
            <img src="img/niva.jpg" alt="Image title" title="Image title">
          </a>
          <p class="title"><a href="">LADA 4x4 (Нива), 2014</a></p>
          <p class="price">290 000 ₽</p>
          <p class="city">Москва</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="teaser announcements-teaser">
         	<a href="">
            <img src="img/toyota-camry.jpg" alt="Image title" title="Image title">
          </a>
          <p class="title"><a href="">Toyota Camry, 2013</a></p>
          <p class="price">930 000 ₽</p>
          <p class="city">Нижний Новгород</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="teaser announcements-teaser">
         	<a href="">
            <img src="img/hyundai-solaris.jpg" alt="Image title" title="Image title">
          </a>
          <p class="title"><a href="">Hyundai Solaris, 2016</a></p>
          <p class="price">685 000 ₽</p>
          <p class="city">Королёв</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="teaser announcements-teaser">
         	<a href="">
            <img src="img/bmw-2.jpg" alt="Image title" title="Image title">
          </a>
          <p class="title"><a href="">BMW 3 серия, 1989</a></p>
          <p class="price">90 000 ₽</p>
          <p class="city">Орёл</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="teaser announcements-teaser">
         	<a href="">
            <img src="https://placeholdit.co//i/320x240?&bg=000000&fc=999999&text=Image" alt="Image title" title="Image title">
          </a>
          <p class="title"><a href="">Audi Q8 2018</a></p>
          <p class="price">1 490 000 ₽</p>
          <p class="city">Курск</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="teaser announcements-teaser">
         	<a href="">
            <img src="https://placeholdit.co//i/320x240?&bg=000000&fc=999999&text=Image" alt="Image title" title="Image title">
          </a>
          <p class="title"><a href="">Audi Q8 2018</a></p>
          <p class="price">1 490 000 ₽</p>
          <p class="city">Брянск</p>
        </div>
      </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>
  <div class="buttons-block">
    <a href="" class="btn btn-blue">Все объявления</a>
    <a href="" class="btn btn-orange">Подать объявление</a>
  </div>
</div>
