<div class="page-block">
  <div class="row mt-4">

    <div class="col-12 col-sm-5 col-md-3">
      <div class="teaser completes-teaser">
        <div class="completes-info">
          <div class="data new">Новый</div>
        </div>
        <a href="" data-fancybox="gallery" data-caption="Image title">
          <img src="img/audi.jpg" alt="Image title" title="Image title">
        </a>
        <p class="title"><a href="">Audi Q8 2018</a></p>
        <p class="price">1 490 000 ₽</p>
      </div>
    </div>

    <div class="col-12 col-sm-5 col-md-3">
      <div class="teaser completes-teaser">
        <div class="completes-info">
          <div class="data new">Новый</div>
        </div>
        <a href="" data-fancybox="gallery" data-caption="Image title">
          <img src="img/volvo.jpg" alt="Image title" title="Image title">
        </a>
        <p class="title"><a href="">Volvo S60 2018</a></p>
        <p class="price">1 490 000 ₽</p>
      </div>
    </div>

    <div class="col-12 col-sm-5 col-md-3">
      <div class="teaser completes-teaser">
        <div class="completes-info">
          <div class="data used">С пробегом</div>
        </div>
        <a href="" data-fancybox="gallery" data-caption="Image title">
          <img src="img/bmw.jpg" alt="Image title" title="Image title">
        </a>
        <p class="title"><a href="">BMW</a></p>
        <p class="price">1 490 000 ₽</p>
      </div>
    </div>

    <div class="col-12 col-sm-5 col-md-3">
      <div class="teaser completes-teaser">
        <div class="completes-info">
          <div class="data new">Новый</div>
        </div>
        <a href="" data-fancybox="gallery" data-caption="Image title">
          <img src="img/audi.jpg" alt="Image title" title="Image title">
        </a>
        <p class="title"><a href="">Audi Q8 2018</a></p>
        <p class="price">1 490 000 ₽</p>
      </div>
    </div>

    <div class="col-12 col-sm-5 col-md-3">
      <div class="teaser completes-teaser">
        <div class="completes-info">
          <div class="data used">С пробегом</div>
        </div>
        <a href="" data-fancybox="gallery" data-caption="Image title">
          <img src="img/audi.jpg" alt="Image title" title="Image title">
        </a>
        <p class="title"><a href="">Audi Q8 2018</a></p>
        <p class="price">1 490 000 ₽</p>
      </div>
    </div>

    <div class="col-12 col-sm-5 col-md-3">
      <div class="teaser completes-teaser">
        <div class="completes-info">
          <div class="data used">С пробегом</div>
        </div>
        <a href="" data-fancybox="gallery" data-caption="Image title">
          <img src="img/bmw.jpg" alt="Image title" title="Image title">
        </a>
        <p class="title"><a href="">BMW</a></p>
        <p class="price">1 490 000 ₽</p>
      </div>
    </div>

    <div class="col-12 col-sm-5 col-md-3">
      <div class="teaser completes-teaser">
        <div class="completes-info">
          <div class="data used">С пробегом</div>
        </div>
        <a href="" data-fancybox="gallery" data-caption="Image title">
          <img src="img/audi.jpg" alt="Image title" title="Image title">
        </a>
        <p class="title"><a href="">Audi Q8 2018</a></p>
        <p class="price">1 490 000 ₽</p>
      </div>
    </div>

    <div class="col-12 col-sm-5 col-md-3">
      <div class="teaser completes-teaser">
        <div class="completes-info">
          <div class="data used">С пробегом</div>
        </div>
        <a href="" data-fancybox="gallery" data-caption="Image title">
          <img src="img/audi.jpg" alt="Image title" title="Image title">
        </a>
        <p class="title"><a href="">Audi Q8 2018</a></p>
        <p class="price">1 490 000 ₽</p>
      </div>
    </div>

    <div class="col-12 col-sm-5 col-md-3">
      <div class="teaser completes-teaser">
        <div class="completes-info">
          <div class="data used">С пробегом</div>
        </div>
        <a href="" data-fancybox="gallery" data-caption="Image title">
          <img src="img/bmw.jpg" alt="Image title" title="Image title">
        </a>
        <p class="title"><a href="">BMW</a></p>
        <p class="price">1 490 000 ₽</p>
      </div>
    </div>

    <div class="col-12 col-sm-5 col-md-3">
      <div class="teaser completes-teaser">
        <div class="completes-info">
          <div class="data used">С пробегом</div>
        </div>
        <a href="" data-fancybox="gallery" data-caption="Image title">
          <img src="img/audi.jpg" alt="Image title" title="Image title">
        </a>
        <p class="title"><a href="">Audi Q8 2018</a></p>
        <p class="price">1 490 000 ₽</p>
      </div>
    </div>

    <div class="col-12 col-sm-5 col-md-3">
      <div class="teaser completes-teaser">
        <div class="completes-info">
          <div class="data used">С пробегом</div>
        </div>
        <a href="" data-fancybox="gallery" data-caption="Image title">
          <img src="img/audi.jpg" alt="Image title" title="Image title">
        </a>
        <p class="title"><a href="">Audi Q8 2018</a></p>
        <p class="price">1 490 000 ₽</p>
      </div>
    </div>

    <div class="col-12 col-sm-5 col-md-3">
      <div class="teaser completes-teaser">
        <div class="completes-info">
          <div class="data used">С пробегом</div>
        </div>
        <a href="" data-fancybox="gallery" data-caption="Image title">
          <img src="img/audi.jpg" alt="Image title" title="Image title">
        </a>
        <p class="title"><a href="">Audi Q8 2018</a></p>
        <p class="price">1 490 000 ₽</p>
      </div>
    </div>

  </div>
</div>
