
<div class="page-block">
  <h3>
    <span>
      <a href="">Дилеры</a>
    </span>
  </h3>
  <div class="swiper-container multi-6">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
       	<a href="">
          <img src="img/dealers/dealer-1.png" alt="Image title" title="Image title">
        </a>
      </div>
      <div class="swiper-slide">
       <a href="">
          <img src="img/dealers/dealer-2.png" alt="Image title" title="Image title">
        </a>
      </div>
      <div class="swiper-slide">
       	<a href="">
          <img src="img/dealers/dealer-3.png" alt="Image title" title="Image title">
        </a>
      </div>
    	<div class="swiper-slide">
        <a href="">
          <img src="img/dealers/dealer-4.png" alt="Image title" title="Image title">
        </a>
      </div>
      <div class="swiper-slide">
       	<a href="">
          <img src="img/dealers/dealer-5.png" alt="Image title" title="Image title">
        </a>
      </div>
    	<div class="swiper-slide">
        <a href="">
          <img src="img/dealers/dealer-6.png" alt="Image title" title="Image title">
        </a>
      </div>
      <div class="swiper-slide">
       	<a href="">
          <img src="img/dealers/dealer-1.png" alt="Image title" title="Image title">
        </a>
      </div>
      <div class="swiper-slide">
       <a href="">
          <img src="img/dealers/dealer-2.png" alt="Image title" title="Image title">
        </a>
      </div>
      <div class="swiper-slide">
       	<a href="">
          <img src="img/dealers/dealer-3.png" alt="Image title" title="Image title">
        </a>
      </div>
    	<div class="swiper-slide">
        <a href="">
          <img src="img/dealers/dealer-4.png" alt="Image title" title="Image title">
        </a>
      </div>
      <div class="swiper-slide">
       	<a href="">
          <img src="img/dealers/dealer-5.png" alt="Image title" title="Image title">
        </a>
      </div>
    	<div class="swiper-slide">
        <a href="">
          <img src="img/dealers/dealer-6.png" alt="Image title" title="Image title">
        </a>
      </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>

</div>
