<div class="footer">
  <div class="navline">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-8 col-lg-9">
          <ul class="nav nav-menu">
            <li class="active"><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
          <ul class="nav">
            <li>
              <a href="https://www.facebook.com/" rel="external">
                <span class="fa-stack fa-md">
                  <i class="fas fa-square-full fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://instagram.com/" rel="external">
                <span class="fa-stack fa-md">
                  <i class="fas fa-square-full fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://vk.com/" rel="external">
                <span class="fa-stack fa-md">
                  <i class="fas fa-square-full fa-stack-2x"></i>
                  <i class="fab fa-vk fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa-stack fa-md">
                  <i class="fas fa-square-full fa-stack-2x"></i>
                  <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-md-8">
        <div class="mt-4 mb-4">
          <img src="img/logo.png" alt="">
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <div class="col-md-4">
        <p class="font-weight-bold">Подписка на полезную информацию</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control sharp" placeholder="Ваш email" aria-label="Email" aria-describedby="subscribes-email">
          <div class="input-group-append">
            <button class="btn btn-sharp btn-outline-secondary" type="button">Подписаться</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-9">
        <p class="disclaimer">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <div class="col-md-3">
        <p class="text-right">

        </p>
      </div>
    </div>
  </div>

  <div class="copyrights">
    Разработка сайта <a href="">Developer</a>
  </div>
</div>

<div style="display: none;" id="hello">
  <div class="input-group mt-4 mb-4">
    <input type="text" class="form-control sharp" placeholder="Поиск по сайту" aria-label="searchInput" aria-describedby="searchInput">
    <div class="input-group-append">
      <button class="btn btn-red btn-sharp" type="button" id="searchInput">Найти</button>
    </div>
  </div>
</div>

<div id="morphing-content" class="hidden">
  <div class="container-fluid">
    <form action="">
      <div class="input-group">
        <input type="text" class="form-control form-control-lg" placeholder="Что ищем?" aria-label="inputSearch" aria-describedby="button-search">
        <div class="input-group-append">
          <button class="btn btn-orange" type="button" id="button-search">Искать</button>
        </div>
      </div>
    </form>
  </div>
</div>

<a href="#" class="scrollToTop">
  <i class="fas fa-chevron-up"></i>
</a>
