<div class="page-header">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-4 col-sm-6 col-md-3 col-lg-3 col-xs-3">
        <div class="logo">
          <a href="/">
            <img src="img/logo.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-6 col-md-3 col-lg-6 col-xl-6 d-md-none d-lg-block">

      </div>
      <div class="col-4 col-sm-6 col-md-5 col-lg-3 col-xl-2">
        <div class="header-icons social">
          <a href="" rel="external">
            <span class="fa-stack fa-md">
              <i class="fas fa-square-full fa-stack-2x"></i>
              <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="" rel="external">
            <span class="fa-stack fa-md">
              <i class="fas fa-square-full fa-stack-2x"></i>
              <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="" rel="external">
            <span class="fa-stack fa-md">
              <i class="fas fa-square-full fa-stack-2x"></i>
              <i class="fab fa-vk fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
