<nav class="navbar navbar-expand-md navbar-white navbar-offcanvas shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
      <img src="img/logo.png" alt="">
    </a>

    <ul class="navbar-nav navbar-top">
      <!--<li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="news.html">Новости</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="ttx.html">Технические характеристики</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="completes.html">Комплектации и цены</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="dealers.html">Дилеры</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="testimonials.html">Отзывы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="announcements.html">Объявления</a>
      </li>
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" href="#!" id="dropdownExample" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownExample">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->
    </ul>

    <a data-morphing id="morphing" data-src="#morphing-content" href="javascript:;" class="btn btn-white">
      <i class="fas fa-search"></i>
    </a>

    <a href="user-login.html" class="btn btn-white">
      <i class="far fa-user"></i>
    </a>

    <button class="navbar-toggler navbar-toggler-right navbar-icon" type="button" data-toggle="collapse" data-target="#navbar-mobile" aria-controls="navbar-mobile" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar bar1"></span>
      <span class="icon-bar bar2"></span>
      <span class="icon-bar bar3"></span>
    </button>

    <div class="navbar-collapse collapse ml-auto" id="navbar-mobile">
      <ul class="navbar-nav ml-auto">
        <li class="nav-image">
          <img src="" alt="">
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link">База знаний</a>
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link">Статистика</a>
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link">Дилерам</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
