<div class="news">

  <h3><span>Новости Ford</span></h3>

  <div class="swiper-container multi-4">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="teaser news-teaser">
         	<a href="">
            <img src="img/news/aurus-senat.jpg" alt="" title="">
          </a>
          <p class="title"><a href="">Aurus Senat: представлен российский седан за ₽10 млн.</a></p>
          <p class="datetime"><i class="far fa-clock"></i> 12.08.2018</p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="teaser news-teaser">
         	<a href="">
            <img src="img/news/renault-arkana.jpg" alt="" title="">
          </a>
          <p class="title"><a href="">Renault Arkana: купеобразный кроссовер для России</a></p>
          <p class="datetime"><i class="far fa-clock"></i> 12.08.2018</p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="teaser news-teaser">
         	<a href="">
            <img src="img/news/bmw-x7.jpg" alt="" title="">
          </a>
          <p class="title"><a href="">Новый BMW X7 2018: флагманский кроссовер</a></p>
          <p class="datetime"><i class="far fa-clock"></i> 12.08.2018</p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="teaser news-teaser">
          <a href="">
            <img src="img/news/mercedes-gle.jpg" alt="" title="">
          </a>
          <p class="title"><a href="">Новый Mercedes GLE 2019: радикальные преобразования</a></p>
          <p class="datetime"><i class="far fa-clock"></i> 12.08.2018</p>
        </div>
      </div>

    </div>

    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>

  </div>

  <div class="buttons-block">
    <a href="" class="btn btn-blue">Все новости</a>
  </div>
</div>
