<div class="news">

  <h3><span>Новинки автопрома</span></h3>

  <div class="swiper-container multi-4">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="teaser news-teaser">
         	<a href="">
            <img src="img/news/aurus-senat.jpg" alt="" title="">
          </a>
          <p class="title"><a href="">Aurus Senat: представлен российский седан за ₽10 млн.</a></p>
          <p class="datetime"><i class="far fa-clock"></i> 12.08.2018</p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="teaser news-teaser">
         	<a href="">
            <img src="img/news/renault-arkana.jpg" alt="" title="">
          </a>
          <p class="title"><a href="">Renault Arkana: купеобразный кроссовер для России</a></p>
          <p class="datetime"><i class="far fa-clock"></i> 12.08.2018</p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="teaser news-teaser">
         	<a href="">
            <img src="img/news/bmw-x7.jpg" alt="" title="">
          </a>
          <p class="title"><a href="">Новый BMW X7 2018: флагманский кроссовер</a></p>
          <p class="datetime"><i class="far fa-clock"></i> 12.08.2018</p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="teaser news-teaser">
          <a href="">
            <img src="img/news/mercedes-gle.jpg" alt="" title="">
          </a>
          <p class="title"><a href="">Новый Mercedes GLE 2019: радикальные преобразования</a></p>
          <p class="datetime"><i class="far fa-clock"></i> 12.08.2018</p>
        </div>
      </div>

    </div>

    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>

  </div>

  <h3><span>Тест-драйвы</span></h3>

  <div class="swiper-container multi-4">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="teaser news-teaser">
         	<a href="">
            <img src="img/news/ret19_001.jpg" alt="" title="">
          </a>
          <p class="title"><a href="">Тест-драйв Peugeot 306 GTI, Alfa Romeo 147 и Volkswagen Golf GTI IV</a></p>
          <p class="datetime"><i class="far fa-clock"></i> 12.08.2018</p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="teaser news-teaser">
         	<a href="">
            <img src="img/news/ret18_001.jpg" alt="" title="">
          </a>
          <p class="title"><a href="">Тест-драйв Mercedes E500 W124 и BMW 540i E34</a></p>
          <p class="datetime"><i class="far fa-clock"></i> 12.08.2018</p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="teaser news-teaser">
         	<a href="">
            <img src="img/news/ret15_001.jpg" alt="" title="">
          </a>
          <p class="title"><a href="">Тест-драйв Saab 9-3 Viggen и Lancia Kappa Coupe</a></p>
          <p class="datetime"><i class="far fa-clock"></i> 12.08.2018</p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="teaser news-teaser">
          <a href="">
            <img src="img/news/ret8_001.jpg" alt="" title="">
          </a>
          <p class="title"><a href="">Тест-драйв Porsche 911 (993) и Maserati 3200GT</a></p>
          <p class="datetime"><i class="far fa-clock"></i> 12.08.2018</p>
        </div>
      </div>

    </div>

    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>

  </div>


  <h3><span>Новости</span></h3>

  <div class="swiper-container multi-4">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="teaser news-teaser">
         	<a href="">
            <img src="img/news/benzin-po-50.jpg" alt="" title="">
          </a>
          <p class="title"><a href="">Бензин по 50 рублей за литр: скоро на всех заправках страны</a></p>
          <p class="datetime"><i class="far fa-clock"></i> 12.08.2018</p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="teaser news-teaser">
         	<a href="">
            <img src="img/news/vw-carlex-t6.jpg" alt="" title="">
          </a>
          <p class="title"><a href="">Доработанный Volkswagen T6 от ателье Carlex Design</a></p>
          <p class="datetime"><i class="far fa-clock"></i> 12.08.2018</p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="teaser news-teaser">
         	<a href="">
            <img src="img/news/corvette-drift.jpg" alt="" title="">
          </a>
          <p class="title"><a href="">Дрифт на 1060-сильном Corvette C6 в горах: на грани обрыва</a></p>
          <p class="datetime"><i class="far fa-clock"></i> 12.08.2018</p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="teaser news-teaser">
          <a href="">
            <img src="img/news/sovety-perekupa.jpg" alt="" title="">
          </a>
          <p class="title"><a href="">Перекуп поделился несколькими своими фишками: и это работает</a></p>
          <p class="datetime"><i class="far fa-clock"></i> 12.08.2018</p>
        </div>
      </div>

    </div>

    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>

  </div>


  <div class="clearfix mt-4">
    <a href="" class="btn btn-blue">Все новости</a>
  </div>
</div>
