<div class="search-block mb-4 p-6">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12 col-sm-12 col-md-9">
        <h3>Показать отзывы</h3>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">По марке</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">По параметрам</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <ul class="search-list mt-4">
              <li><a href="">LADA (ВАЗ)</a> <sup>85255</sup></li>
              <li><a href="">Audi</a> <sup>15193</sup></li>
              <li><a href="">BMW</a> <sup>21667</sup></li>
              <li><a href="">Chery</a> <sup>2795</sup></li>
              <li><a href="">Chevrolet</a> <sup>18132</sup></li>
              <li><a href="">Citroen</a> <sup>3562</sup></li>
              <li><a href="">Daewoo</a> <sup>7249</sup></li>
              <li><a href="">LADA (ВАЗ)</a> <sup>85255</sup></li>
              <li><a href="">Great Wall</a> <sup>1860</sup></li>
              <li><a href="">Honda</a> <sup>9311</sup></li>
              <li><a href="">Hyundai</a> <sup>27706</sup></li>
              <li><a href="">Infiniti</a> <sup>3608</sup></li>
              <li><a href="">Jeep</a> <sup>2015</sup></li>
              <li><a href="">Kia</a> <sup>25251</sup></li>
              <li><a href="">LandRover</a> <sup>6026</sup></li>
              <li><a href="">Lexus</a> <sup>6363</sup></li>
              <li><a href="">Lifan</a> <sup>2379</sup></li>
              <li><a href="">Mazda</a> <sup>12511</sup></li>
              <li><a href="">Mercedes-Benz</a> <sup>29784</sup></li>
              <li><a href="">Mitsubishi</a> <sup>18965</sup></li>
              <li><a href="">Nissan</a> <sup>54879</sup></li>
              <li><a href="">Audi</a> <sup>15193</sup></li>
              <li><a href="">BMW</a> <sup>21667</sup></li>
              <li><a href="">Chery</a> <sup>2795</sup></li>
              <li><a href="">Chevrolet</a> <sup>18132</sup></li>
              <li><a href="">Citroen</a> <sup>3562</sup></li>
              <li><a href="">Daewoo</a> <sup>7249</sup></li>
              <li><a href="">LADA (ВАЗ)</a> <sup>85255</sup></li>
              <li><a href="">Audi</a> <sup>15193</sup></li>
              <li><a href="">BMW</a> <sup>21667</sup></li>
              <li><a href="">Chery</a> <sup>2795</sup></li>
              <li><a href="">Chevrolet</a> <sup>18132</sup></li>
              <li><a href="">Citroen</a> <sup>3562</sup></li>
              <li><a href="">Daewoo</a> <sup>7249</sup></li>
              <li><a href="">LADA (ВАЗ)</a> <sup>85255</sup></li>
              <li><a href="">Audi</a> <sup>15193</sup></li>
              <li><a href="">BMW</a> <sup>21667</sup></li>
              <li><a href="">Chery</a> <sup>2795</sup></li>
              <li><a href="">Chevrolet</a> <sup>18132</sup></li>
              <li><a href="">Citroen</a> <sup>3562</sup></li>
              <li><a href="">Daewoo</a> <sup>7249</sup></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row mt-4">
              <div class="col-12 col-sm-4 col-md-4 mt-2">
                <select class="cussel" data-live-search="true" multiple title="Марка">
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="col-12 col-sm-4 col-md-4 mt-2">
                <select class="cussel" data-live-search="true" multiple title="Модель" disabled>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="col-12 col-sm-4 col-md-4 mt-2">
                <select class="cussel" data-live-search="true" multiple title="Поколение" disabled>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>



              <div class="col-12 col-sm-6 col-md-4 mt-2">
                <button type="button" class="btn btn-blue btn-block">Показать отзывы</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-12 col-sm-12 col-md-3">
        <div class="d-flex justify-content-end mt-4">
          <a href="">
            <img src="img/banners/banner-tech.png" alt="" class="img-fluid">
          </a>
        </div>
      </div>
    </div>


  </div>
</div>
