<div class="news-sidebar">
  <div class="page-block">
    <h3><span><i class="fas fa-fire"></i> Популярное</span></h3>

    <div class="teaser news-teaser">
      <div class="title"><a href="">Новый Kia Soul: больше, но теснее, «внедорожная» версия, но без полного привода</a></div>
      <div class="d-flex justify-content-between meta">
        <div class="datetime"><i class="far fa-clock"></i> 12.08.2018</div>
        <div class="views"><i class="fas fa-eye"></i> 453</div>
        <div class="comments"><i class="fas fa-comments"></i> 43 <sup><a href="">+12</a></sup></div>
      </div>
    </div>

    <div class="teaser news-teaser">
      <div class="title"><a href="">Штраф за отказ в оформлении ОСАГО хотят увеличить втрое</a></div>
      <div class="d-flex justify-content-between meta">
        <div class="datetime"><i class="far fa-clock"></i> 12.08.2018</div>
        <div class="views"><i class="fas fa-eye"></i> 453</div>
        <div class="comments"><i class="fas fa-comments"></i> 43 <sup><a href="">+12</a></sup></div>
      </div>
    </div>

    <div class="teaser news-teaser">
      <div class="title"><a href="">Первая машина российского водителя – не только Lada, но и Toyota, и даже Москвич</a></div>
      <div class="d-flex justify-content-between meta">
        <div class="datetime"><i class="far fa-clock"></i> 12.08.2018</div>
        <div class="views"><i class="fas fa-eye"></i> 453</div>
        <div class="comments"><i class="fas fa-comments"></i> 43 <sup><a href="">+12</a></sup></div>
      </div>
    </div>

    <div class="teaser news-teaser">
      <div class="title"><a href="">Обряд «воскрешения»: отмененный более 10 лет назад штраф ГИБДД может вернуться</a></div>
      <div class="d-flex justify-content-between meta">
        <div class="datetime"><i class="far fa-clock"></i> 12.08.2018</div>
        <div class="views"><i class="fas fa-eye"></i> 453</div>
        <div class="comments"><i class="fas fa-comments"></i> 43 <sup><a href="">+12</a></sup></div>
      </div>
    </div>

    <div class="teaser news-teaser">
      <div class="title"><a href="">Решили добить: в Лос-Анджелесе показали обновлённый Fiat 500X</a></div>
      <div class="d-flex justify-content-between meta">
        <div class="datetime"><i class="far fa-clock"></i> 12.08.2018</div>
        <div class="views"><i class="fas fa-eye"></i> 453</div>
        <div class="comments"><i class="fas fa-comments"></i> 43 <sup><a href="">+12</a></sup></div>
      </div>
    </div>

    <div class="teaser news-teaser">
      <div class="title"><a href="">Цены на запчасти для ремонта по ОСАГО вырастут. Но автовладельцам это не поможет</a></div>
      <div class="d-flex justify-content-between meta">
        <div class="datetime"><i class="far fa-clock"></i> 12.08.2018</div>
        <div class="views"><i class="fas fa-eye"></i> 453</div>
        <div class="comments"><i class="fas fa-comments"></i> 43 <sup><a href="">+12</a></sup></div>
      </div>
    </div>

    <div class="teaser news-teaser">
      <div class="title"><a href="">Aurus Komendant: названа дата начала производства</a></div>
      <div class="d-flex justify-content-between meta">
        <div class="datetime"><i class="far fa-clock"></i> 12.08.2018</div>
        <div class="views"><i class="fas fa-eye"></i> 453</div>
        <div class="comments"><i class="fas fa-comments"></i> 43 <sup><a href="">+12</a></sup></div>
      </div>
    </div>

    <div class="teaser news-teaser">
      <div class="title"><a href="">Suzuki довела до конвейера ещё один маленький «внедорожник»</a></div>
      <div class="d-flex justify-content-between meta">
        <div class="datetime"><i class="far fa-clock"></i> 12.08.2018</div>
        <div class="views"><i class="fas fa-eye"></i> 453</div>
        <div class="comments"><i class="fas fa-comments"></i> 43 <sup><a href="">+12</a></sup></div>
      </div>
    </div>

    <div class="teaser news-teaser">
      <div class="title"><a href="">Модно и очень семейно: самые дешевые семиместные кроссоверы</a></div>
      <div class="d-flex justify-content-between meta">
        <div class="datetime"><i class="far fa-clock"></i> 12.08.2018</div>
        <div class="views"><i class="fas fa-eye"></i> 453</div>
        <div class="comments"><i class="fas fa-comments"></i> 43 <sup><a href="">+12</a></sup></div>
      </div>
    </div>

    <div class="teaser news-teaser">
      <div class="title"><a href="">Пять причин любить и ненавидеть Mazda CX-7</a></div>
      <div class="d-flex justify-content-between meta">
        <div class="datetime"><i class="far fa-clock"></i> 12.08.2018</div>
        <div class="views"><i class="fas fa-eye"></i> 453</div>
        <div class="comments"><i class="fas fa-comments"></i> 43 <sup><a href="">+12</a></sup></div>
      </div>
    </div>

    <div class="teaser news-teaser">
      <div class="title"><a href="">Mercedes-Benz CLS I с пробегом: ужасы системы SBC и противоречивая пневма</a></div>
      <div class="d-flex justify-content-between meta">
        <div class="datetime"><i class="far fa-clock"></i> 12.08.2018</div>
        <div class="views"><i class="fas fa-eye"></i> 453</div>
        <div class="comments"><i class="fas fa-comments"></i> 43 <sup><a href="">+12</a></sup></div>
      </div>
    </div>

  </div>
</div>
