<div class="page-block">
  <h3>
    <span>
      <a href="">Популярные отзывы</a>
    </span>
  </h3>


  <div class="swiper-container multi-2">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="teaser testimonials-teaser">
         	<a href="">
            <img src="img/testimonials/Peugeot-408-1.jpg" alt="" title="">
          </a>
          <div class="d-flex flex-row mt-2">
            <div class="w-75">
              <div class="title"><a href="">Peugeot 408 I</a></div>
              <div class="description">Пежо как оно есть..</div>
              <div class="user"><i class="far fa-user"></i> <a href="">Mobilizator</a></div>
            </div>
            <div class="w-25">
              <div class="float-right mark">
                4,8
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between meta">
            <div class="datetime"><i class="far fa-clock"></i> 12.08.2018</div>
            <div class="views"><i class="fas fa-eye"></i> 453</div>
            <div class="comments"><i class="fas fa-comments"></i> 43 <sup><a href="">+12</a></sup></div>
          </div>

        </div>
      </div>
      <div class="swiper-slide">
        <div class="teaser testimonials-teaser">
         	<a href="">
            <img src="img/testimonials/FAW-Vita-2007.jpg" alt="" title="">
          </a>

          <div class="d-flex flex-row mt-2">
            <div class="w-75">
              <div class="title"><a href="">FAW Vita 2007</a></div>
              <div class="description">Честный отзыв</div>
              <div class="user"><i class="far fa-user"></i> <a href="">Author</a></div>
            </div>
            <div class="w-25">
              <div class="mark">
                3,2
              </div>
            </div>
          </div>


          <div class="d-flex justify-content-between meta">
            <div class="datetime"><i class="far fa-clock"></i> 12.08.2018</div>
            <div class="views"><i class="fas fa-eye"></i> 453</div>
            <div class="comments"><i class="fas fa-comments"></i> 43 <sup><a href="">+12</a></sup></div>
          </div>

        </div>
      </div>
      <div class="swiper-slide">
        <div class="teaser testimonials-teaser">
         	<a href="">
            <img src="img/testimonials/Mazda-6-III-res.jpg" alt="" title="">
          </a>

          <div class="d-flex flex-row mt-2">
            <div class="w-75">
              <div class="title"><a href="">Mazda 6 III Рестайлинг</a></div>
              <div class="description">Не ожидал от Мазды</div>
              <div class="user"><i class="far fa-user"></i> <a href="">Tester</a></div>
            </div>
            <div class="w-25">
              <div class="mark">
                3,2
              </div>
            </div>
          </div>


          <div class="d-flex justify-content-between meta">
            <div class="datetime"><i class="far fa-clock"></i> 12.08.2018</div>
            <div class="views"><i class="fas fa-eye"></i> 453</div>
            <div class="comments"><i class="fas fa-comments"></i> 43 <sup><a href="">+12</a></sup></div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>

</div>
