<div class="completes-prices">
  <h3><span>Комплектации и цены</span></h3>
  <div class="swiper-container multi-4">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="completes-prices-teaser">
          <div class="completes-prices-info">
            <div class="data">Новый</div>
          </div>
         	<a href="" data-fancybox="gallery" data-caption="Image title">
            <img src="img/audi.jpg" alt="Image title" title="Image title">
          </a>
          <p class="title"><a href="">Audi Q8 2018</a></p>
          <p class="price">1 490 000 <i class="fas fa-ruble-sign"></i></p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="completes-prices-teaser">
          <div class="completes-prices-info">
            <div class="data">С пробегом</div>
          </div>
         	<a href="" data-fancybox="gallery" data-caption="Image title">
            <img src="img/suzuki.jpg" alt="Image title" title="Image title">
          </a>
          <p class="title"><a href="">Suzuki Jimny</a></p>
          <p class="price">1 100 000 <i class="fas fa-ruble-sign"></i></p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="completes-prices-teaser">
          <div class="completes-prices-info">
            <div class="data">Новый</div>
          </div>
         	<a href="" data-fancybox="gallery" data-caption="Image title">
            <img src="img/volvo.jpg" alt="Image title" title="Image title">
          </a>
          <p class="title"><a href="">Volvo S60 2018</a></p>
          <p class="price">1 490 000 <i class="fas fa-ruble-sign"></i></p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="completes-prices-teaser">
          <div class="completes-prices-info">
            <div class="data">С пробегом</div>
          </div>
         	<a href="" data-fancybox="gallery" data-caption="Image title">
            <img src="img/bmw.jpg" alt="Image title" title="Image title">
          </a>
          <p class="title"><a href="">BMW</a></p>
          <p class="price">1 490 000 <i class="fas fa-ruble-sign"></i></p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="completes-prices-teaser">
          <div class="completes-prices-info">
            <div class="data">Новый</div>
          </div>
         	<a href="" data-fancybox="gallery" data-caption="Image title">
            <img src="img/audi.jpg" alt="Image title" title="Image title">
          </a>
          <p class="title"><a href="">Audi Q8 2018</a></p>
          <p class="price">1 490 000 <i class="fas fa-ruble-sign"></i></p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="completes-prices-teaser">
          <div class="completes-prices-info">
            <div class="data">Новый</div>
          </div>
         	<a href="" data-fancybox="gallery" data-caption="Image title">
            <img src="img/audi.jpg" alt="Image title" title="Image title">
          </a>
          <p class="title"><a href="">Audi Q8 2018</a></p>
          <p class="price">1 490 000 <i class="fas fa-ruble-sign"></i></p>
        </div>
      </div>
    </div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>

  <div class="buttons-block">
    <a href="" class="btn btn-blue">Смотреть все</a>
  </div>
</div>
