<div class="testimonials">
  <h3><span>Отзывы владельцев</span></h3>
  <div class="row">
    <div class="col-12 col-sm-9 col-md-9">
      <div class="swiper-container multi-3">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonials-teaser">
             	<a href="">
                <img src="img/testimonials/Peugeot-408-1.jpg" alt="" title="">
              </a>
              <div class="d-flex flex-row mt-2">
                <div class="w-75">
                  <p class="title"><a href="">Peugeot 408 I</a></p>
                  <p class="description">Пежо как оно есть..</p>
                </div>
                <div class="w-25" style="border: 2px solid #ffbc2e;font-weight: bold;">
                  <div class="row h-100">
                    <div class="col-sm-12 align-self-center">
                      <div class="card card-block w-25 mx-auto">4,8</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials-teaser">
             	<a href="">
                <img src="img/testimonials/FAW-Vita-2007.jpg" alt="" title="">
              </a>

              <div class="d-flex flex-row mt-2">
                <div class="w-75">
                  <p class="title"><a href="">FAW Vita 2007</a></p>
                  <p class="description">Честный отзыв</p>
                </div>
                <div class="w-25" style="border: 2px solid #ffbc2e;font-weight: bold;">
                  <div class="row h-100">
                    <div class="col-sm-12 align-self-center">
                      <div class="card card-block w-25 mx-auto">2,6</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials-teaser">
             	<a href="">
                <img src="img/testimonials/Mazda-6-III-res.jpg" alt="" title="">
              </a>

              <div class="d-flex flex-row mt-2">
                <div class="w-75">
                  <p class="title"><a href="">Mazda 6 III Рестайлинг</a></p>
                  <p class="description">Не ожидал от Мазды</p>
                </div>
                <div class="w-25" style="border: 2px solid #ffbc2e;font-weight: bold;">
                  <div class="row h-100">
                    <div class="col-sm-12 align-self-center">
                      <div class="card card-block w-25 mx-auto">4,5</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
      </div>
      <div class="buttons-block">
        <a href="" class="btn btn-blue">Все Отзывы</a>
        <a href="" class="btn btn-orange">Добавить отзыв</a>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-md-3">
      <a href="">
        <img src="img/banners/banner-testimonials.png" alt="" class="img-fluid">
      </a>
    </div>
  </div>
</div>
